{% extends 'core/layout.html' %}

{% load static %}

{% block title %}Aviso Legal{% endblock  %}

{% block content %}
<!-- Contenido Aviso Legal -->
<div class="aviso-legal">
    <h1>Aviso Legal</h1>
    <div class="aviso-legal-1">
        <p>El presente aviso legal regula el uso del servicio del portal de Internet ‘<a href="http://www.cesfuencarral.com/">http://www.cesfuencarral.com</a>‘ propiedad de la empresa CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L.</p>
        <p>&nbsp;</p>
        <h4><strong class="first-strong">CONDICIONES DE USO</strong></h4>
        <p>El uso del sitio web ‘<a href="http://www.essentialdpl.es/">http://www.cesfuencarral.com</a> se rige por las normas establecidas en el presente Aviso Legal. Con su utilización, usted acepta las condiciones de uso.</p>
        <p>&nbsp;</p>
        <h4 class="the-h4">Contenido y uso</h4>
        <p>El Usuario queda informado, y acepta, que el acceso a la presente web no supone, en modo alguno, el inicio de una relación comercial o de otro tipo con CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L.</p>
        <p>CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a
            través de la misma como la forma en la que éstos aparezcan presentados o localizados en sus servidores.</p>
        <p>&nbsp;</p>
        <h4 class="the-h4">Política de Privacidad. Protección de datos</h4>
        <p>Los Datos de Carácter Personal que puedan ser facilitados a CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. a través de su web, serán incorporados a un Fichero llamado “Clientes”, responsabilidad de CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL,
            S. L., con la Finalidad de gestionar la relación con nosotros y mantenerle informado de nuestros productos y servicios en el sentido de la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal y del Nuevo Reglamento 2016/679
            del Parlamento Europeo y del Consejo, de 27 de abril de 2016 (RGPD)</p>
        <p>El Usuario garantiza que los Datos Personales facilitados a la empresa son veraces y correctos, haciéndose responsable de comunicar a ésta cualquier modificación en los mismos.</p>
        <p>Podrán ejercitar los Derechos de Acceso, Rectificación, Cancelación/Supresión, Oposición, Portabilidad y Limitación del Tratamiento (ARCOPL) dirigiéndose por escrito a la dirección o al correo electrónico siguiente:</p>
        <div class="ces-centrado">
            <p>CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L.</p>
            <p>Labastida, 13, 28047, MADRID</p>
            <p>e-mail: <a href="mailto:info@cesfuencarral.com ">info@cesfuencarral.com</a></p>
        </div>
        <p>Para ejercer dichos Derechos ARCO y en cumplimiento de la Instrucción 1/1998, de 19 de enero, de la Agencia de Protección de Datos y ahora también según el RGPD, es necesario que usted acredite su personalidad frente a CENTRO DE ESTUDIOS SUPERIORES
            FUENCARRAL, S. L. mediante el envío de fotocopia de NIF/CIF o cualquier otro medio válido en Derecho.</p>
        <p>&nbsp;</p>
        <h4>Derechos de Propiedad Intelectual</h4>
        <p>1.- Todos los contenidos del sitio web ‘<a href="http://www.essentialdpl.es/">http://www.cesfuencarral.com</a> (incluyendo, sin carácter limitativo, bases de datos, imágenes y fotografías, dibujos, gráficos y archivos de texto) son propiedad
            de CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. o de los proveedores de contenidos, habiendo sido, en este último caso, objeto de licencia o cesión por parte de los mismos, y están protegidos por las normas nacionales o internacionales
            de propiedad intelectual. La recopilación, diseño, ordenación y montaje de todo el contenido del sitio web es propiedad exclusiva de CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. y se encuentra protegida por las normas nacionales e internacionales
            de propiedad industrial e intelectual.</p>
        <p>2.- Las marcas, rótulos, signos distintivos o logos del web referenciado son titularidad de CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. y están debidamente registrados, así como los textos, datos y dibujos gráficos; o bien son titularidad
            de las entidades proveedoras de información, no pudiendo ser objeto de ulterior modificación, copia, transformación, alteración, reproducción, adaptación o traducción por parte de terceros, sin la expresa autorización por parte del titular
            de dicho contenido. La puesta a disposición de los textos, datos y dibujos gráficos no implica, en ningún caso, la cesión de su titularidad o la concesión de un derecho de explotación, reproducción, difusión, transformación, distribución,
            o transmisión a su favor, distinto del derecho de uso que comporta la utilización legítima del web.</p>
        <p>&nbsp;</p>
        <h4>Manifestaciones</h4>
        <p>1.- CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. manifiesta que este sitio web dispone de la tecnología adecuada para permitir el acceso y utilización del mismo. No obstante, no se responsabiliza por la eventual existencia de virus u otros
            elementos nocivos, introducidos por cualquier medio o por cualquier tercero, que puedan producir alteraciones en sus Sistemas Informáticos.</p>
        <p>2.- El sitio web ‘<a href="http://www.essentialdpl.es/">http://www.cesfuencarral.com</a> podría contener inexactitudes, omisiones relevantes, imprecisiones o erratas. CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. no garantiza, en ningún
            caso, la veracidad, exactitud y actualidad de los datos contenidos en su sitio web. El usuario que accede al mismo exonera a CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. de cualquier responsabilidad en relación a la fiabilidad, utilidad
            o falsas expectativas que este sitio web pudiera producirle.</p>
        <p>3.- Del mismo modo, esta web utiliza cookies que pueden verse en la pestaña correspondiente.</p>
        <p>&nbsp;</p>
        <h4>Limitación de responsabilidad</h4>
        <p>1.- CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. no ofrece garantías de ninguna clase en cuanto al funcionamiento del presente web o a la información contenida en el mismo, ni será responsable de los daños o perjuicios, de cualquier índole,
            que puedan derivarse de su uso.</p>
        <p>2.- Asimismo, CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. excluye toda responsabilidad por la licitud, contenido y calidad de los datos e informaciones ofrecidos por terceras entidades a través del citado sitio web.</p>
        <p>&nbsp;</p>
        <h4>Enlaces hipervínculos</h4>
        <p>1.- Los titulares de otros sitios web que deseen crear un hipervínculo a ‘<a href="http://www.essentialdpl.es/ ">http://www.cesfuencarral.com</a> se comprometen a no realizar manifestaciones falsas, inexactas o incorrectas, que puedan inducir
            a error o, en general, que sean contrarias a las leyes.</p>
        <p>2.- Los titulares de otros sitios web que deseen crear un hipervínculo a ‘<a href="http://www.essentialdpl.es/">http://www.cesfuencarral.com</a> se comprometen, asimismo, a no establecer hipervínculos con sitios web que contengan contenidos,
            manifestaciones o propaganda de índole racista, xenófobo, pornográfico, de apología del terrorismo y, en general, puedan perjudicar de cualquier modo el buen nombre o la imagen de CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L.</p>
        <p>3.- La inclusión de hipervínculos en ‘<a href="http://www.essentialdpl.es/ ">http://www.cesfuencarral.com</a> no implica necesariamente que CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. mantenga relaciones mercantiles o vínculos asociativos
            con el titular del sitio web en la que se establezca el enlace.</p>
        <p>4.- La presencia de hipervínculos tiene una Finalidad meramente informativa, motivo por el cual, CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. no se responsabiliza ni otorga garantía de ninguna naturaleza, ni expresa ni implícita respecto
            a la comerciabilidad, idoneidad, calidad, características, procedencia, comercialización o cualquier otro aspecto de las informaciones y/o productos y/o servicios que se ofrezcan a través del sitio web referenciado.</p>
        <p>&nbsp;</p>
        <h4>Legislación aplicable</h4>
        <p>Con carácter general las relaciones entre CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L. con los Usuarios de sus servicios telemáticos, presentes en la web, se encuentran sometidas a la Legislación y Jurisdicción Españolas.</p>
        <p>Datos de contacto y otros</p>
        <div class="ces-centrado">
            <p>CENTRO DE ESTUDIOS SUPERIORES FUENCARRAL, S. L.</p>
            <p>C.I.F: B-86559234</p>
            <p>Cl Labastida, 13 – 28047 MADRID</p>
            <p>Tfno. 91-729.28.62</p>
            <p>Correo Electrónico: <a href="mailto:info@cesfuencarral.com">info@cesfuencarral.com</a></p>
        </div>
    </div>
</div>
<!-- Fin Contenido Legal -->
{% endblock %}
