{% extends 'core/layout.html' %}

{% load static %}

{% block title %}Becas{% endblock %}

{% block content %}
    <!-- Contenido Becas -->

    <div class="becas">
        <h1>Becas 2019/2020</h1>
        <div class="becas-content">
            <strong class="first-strong">
                BECAS OFICIALES DE LA COMUNIDAD DE MADRID
            </strong>
            <p>
                Nueva convocatoria de becas de segunda oportunidad para estudiar un&nbsp; grado superior en el curso 2019/20. Para más información o poder solicitarla, puedes pinchar
                <a title="Becas Fp" href="http://www.comunidad.madrid/servicios/educacion/becas-estudio-programas-segunda-oportunidad">aquí</a>.&nbsp;Puedes ampliar la información sobre la orden pinchando en <a href="http://www.bocm.es/boletin/CM_Orden_BOCM/2017/06/05/BOCM-20170605-30.PDF"
                    target="_blank" rel="noopener noreferrer">ORDEN 1481/2016, de 9 de mayo</a>
            </p>
            <p>
                Puedes solicitarla en el siguiente <a title="Becas Grado Superior" href="http://www.comunidad.madrid/servicios/educacion/becas-estudio-programas-segunda-oportunidad">enlace</a>.
            </p>
            <p>
                Los alumnos/as que se matriculen con nosotros y cumplan con los requisitos establecidos, podrán solicitar las becas oficiales de la Comunidad de Madrid y del Ministerio de Educación, Cultura y Deporte. Podrán solicitarla aquellos alumnos que realicen
                de forma presencial el primer curso de cualquier grado superior.
            </p>
            <p>
                Todos los alumnos que la soliciten recibirán una cuantía, de como MÍNIMO 200 euros mensuales en el primer curso y 154 euros mensuales en el segundo curso. La cuantía de la beca anual se establecerá en función de la renta per cápita familiar.
            </p>
            <h4 class="the-h4">Requisitos:</h4>
            <p>1.&nbsp;<strong>Estar matriculado&nbsp;</strong>(o tener reserva de plaza) en algún curso de un ciclo formativo de Formación Profesional de Grado Superior, en la&nbsp;<strong><u>modalidad presencial</u></strong>, en un centro privado autorizado
                por la Consejería competente en materia de Educación, siempre que para dicho curso y ciclo no se haya suscrito concierto o convenio con dicha Consejería.<br> 2. Estar matriculado del&nbsp;<strong>curso completo y no ser repetidor&nbsp;</strong>del
                mismo en el curso 2018/2019.<br> 3.&nbsp;
                <strong>No superar&nbsp;</strong>la edad de&nbsp;<strong>35 años</strong>, en el caso de los solicitantes de beca para realizar el&nbsp;<u>primer curso&nbsp;</u>de Formación Profesional de Grado Superior y no superar la edad de&nbsp;<strong>36 años&nbsp;</strong>en
                el caso de los solicitantes de beca para realizar el&nbsp;<u>segundo curso</u>. En ambos casos los solicitantes&nbsp;<strong>no</strong>&nbsp;deberán&nbsp;<strong>superar el límite de edad&nbsp;</strong>a&nbsp;<u><strong>31 de diciembre de 2018</strong></u>.<br>                4. No superar el&nbsp;<strong>límite de renta per cápita familiar de 20.000 euros.</strong></p>
            <h4 class="second-strong">SOLICITA NUESTRAS BECAS PROPIAS</h4>
            <p>Si no tienes derecho a la beca que concede la Comunidad de Madrid para estudiar un Ciclo Formativo de Grado Superior, llámanos y te informaremos de nuestras propias becas.</p>
            <h3>
                <strong>
                    <span class="the-span">
                        No te quedes sin formarte en tu vocación por motivos económicos.
                    </span>
                </strong>
            </h3>
            <h4></h4>
            </p>
            <h4><strong class="third-strong">BECAS OFICIALES DEL MECD</strong></h4>
            <p>Pincha <a title="Becas Generales" href="http://www.educacionyfp.gob.es/educacion/mc/becas-generales/2019-2020/inicio.html">aquí</a> y podrás encontrar todo lo que necesitas saber para solicitar la beca.</p>
        </div>
    </div>
    <!-- Fin Contenido Becas -->
{% endblock %}
