{% extends 'core/layout.html' %}

{% load static %}

{% block title %}Nosotros{% endblock %}

{% block content %}
    <!-- Contenido Nosotros -->

    <div class="nosotros">
        <h4>¿QUIÉNES SOMOS?</h4>
        <p>&nbsp;</p>
        <p>El Centro de Estudios Superiores Fuencarral, es un centro educativo que focaliza sus esfuerzos en la formación integral del alumno/a y que para ello ha elegido como medio, la Formación Profesional de Grado Medio y Grado Superior.</p>
        <p>Desde este objetivo, empezamos nuestra andadura en el curso 2012-13, partiendo de la experiencia y vocación del equipo directivo, fundadores y creadores de nuestro centro, y la colaboración indispensable de la Consejería de Educación de la Comunidad
            de Madrid. Este equipo está integrado por profesionales de la educación con más de quince años de experiencia, impartiendo docencia en casi todos los niveles educativos y diferentes especialidades.</p>
        <p>Fundamentándose en esta experiencia, surge este proyecto propio, que como antes hemos mencionado, tiene el objetivo de formar todas las dimensiones del alumno/a, ayudándoles en su proceso madurativo y dotándoles de los instrumentos necesarios
            para que puedan alcanzar todos sus objetivos, entre ellos el laboral.</p>
        <p>Para este complejo proceso hemos buscado el mejor equipo humano posible, el cual garantiza al alumno/a que todas sus necesidades puedan ser respondidas positiva e inmediatamente, dotándoles de los mejores recursos y medios posibles. Buscamos alumnos/as
            íntegros/as para que puedan convertirse en profesionales honestos. Nuestro objetivo, es el ser humano, sin artificios ni palabras vacías. Esa es la realidad de nuestro proyecto y se puede comprobar en el día a día de nuestros alumnos/as.</p>
        <p>Estamos atentos a las necesidades educativas que la sociedad demanda, con lo que nuestros planes son abiertos y flexibles. La educación debe estar preparada para los cambios y dispuesta para poder responder de forma rápida y efectiva.</p>
        <p>Esperamos siempre que nuestros alumnos/as se encuentren integrados en el centro y por ellos estamos siempre a su disposición y a la de las familias para cualquier necesidad que puedan plantearnos.</p>
        <p>Vivimos al servicio de los alumnos/as y para ello trabajamos, esperando estar a la altura de lo que nos demanden.</p>
        <p></p>
    </div>
    <div class="profesorado">
        <h2>Profesorado</h2>
        <div class="nosotros-1">
            <div class="nosotros1">
                <img src="{% static 'core/img/Profesores/JaviLopez-108x143.jpg' %}" alt="">
                <h5>JAVIER LÓPEZ PADÍN LDO. EN PSICOPEDAGOGIA DIRECTOR Y ORIENTADOR</h5>
            </div>
            <div class="nosotros2">
                <img src="{% static 'core/img/Profesores/JaviSanchez-108x143.jpg' %}" alt="">
                <h5>JAVIER SÁNCHEZ PALACIOS GRADO EN INGENIERÍA INFORMÁTICA JEFE DE ESTUDIOS</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nosotros-2">
            <div class="nosotros3">
                <img src="{% static 'core/img/Profesores/JaviNavazo-108x143.jpg' %}" alt="">
                <h5>FCO JAVIER NAVAZO FERNADEZ GRADO EN INGENIERÍA INFORMÁTICA PROFESOR. RESPONSABLE FCT</h5>
            </div>
            <div class="nosotros4">
                <img src="{% static 'core/img/Profesores/David-108x143.jpg' %}" alt="">
                <h5>DAVID ALVAREZ BOYERO GRADO EN INGENIERÍA INFORMÁTICA PROFESOR</h5>
            </div>
            <div class="nosotros5">
                <img src="{% static 'core/img/Profesores/Jorge-108x143.jpg' %}" alt="">
                <h5>JORGE YEPES RAMÍREZ GRADO EN INGENIERÍA INFORMÁTICA PROFESOR</h5>
            </div>
            <div class="nosotros6">
                <img src="{% static 'core/img/Profesores/Susana-108x143.jpg' %}" alt="">
                <h5>SUSANA SÁNCHEZ PALACIOS LDA. EN DERECHO PROFESORA</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nosotros-3">
            <div class="nosotros7">
                <img src="{% static 'core/img/Profesores/Nacho-108x143.jpg' %}" alt="">
                <h5>IGNACIO RIVAS TORRES GRADUADO ENFERMERIA PROFESOR.</h5>
            </div>
            <div class="nosotros8">
                <img src="{% static 'core/img/Profesores/Pilar-108x143.jpg' %}" alt="">
                <h5>PILAR CALLEJO PRADO LDA. FILOLOGÍA INGLESA PROFESORA</h5>
            </div>
            <div class="nosotros9">
                <img src="{% static 'core/img/Profesores/Teresa-108x143.jpg' %}" alt="">
                <h5>TERESA VALES CABALLERO LDA. FILOSOFÍA Y CIENCIAS DE LA EDUCACIÓN. SECCIÓN PSICOLOGÍA PROFESORA. TUTORA</h5>
            </div>
            <div class="nosotros10">
                <img src="{% static 'core/img/Profesores/Esperanza-108x143.jpg' %}" alt="">
                <h5>ESPERANZA MARTÍN VARA LDA. FILOSOFÍA Y CIENCIAS DE LA EDUCACIÓN PROFESORA. TUTORA</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nosotros-4">
            <div class="nosotros11">
                <img src="{% static 'core/img/Profesores/Angeles-108x143.jpg' %}" alt="">
                <h5>ÁNGELES MARÍA LARA PRADAS LICENCIADA EN MEDICINA Y CIRUGÍA PROFESORA. TUTORA</h5>
            </div>
            <div class="nosotros12">
                <img src="{% static 'core/img/Profesores/Esther-108x143.jpg' %}" alt="">
                <h5>ESTHER MORENO MUÑOZ LICENCIADA EN PSICOLOGÍA PROFESORA. TUTORA</h5>
            </div>
            <div class="nosotros13">
                <img src="{% static 'core/img/Profesores/Miguel-108x143.jpg' %}" alt="">
                <h5>MIGUEL ANGEL ROMERO ALHAMBRA LICENCIADO EN DERECHO PROFESOR</h5>
            </div>
            <div class="nosotros14">
                <img src="{% static 'core/img/Profesores/Virginia-108x143.jpg' %}" alt="">
                <h5>VIRGINIA MARTÍNEZ AYERRA LDA. EN BIOLOGÍA ESPECIALIDAD AMBIENTAL PSICÓLOGA CLÍNICA PROFESORA</h5>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nosotros-5">
            <div class="nosotros15">
                <img src="{% static 'core/img/Profesores/Blanca-108x143.jpg' %}" alt="">
                <h5>BLANCA MEJÍAS NEIRA GRADO EN EDUCACIÓN PRIMARIA PROFESORA. TUTORA</h5>
            </div>
            <div class="nosotros16">
                <img src="{% static 'core/img/Profesores/Monica-108x143.jpg' %}" alt="">
                <h5>MONICA FUENTES PLEITE GRADO EN EDUCACIÓN INFANTIL LDA. EN DERECHO LDA. EN DIRECCIÓN Y ADMINISTRACIÓN DE EMPRESAS PROFESORA</h5>
            </div>
        </div>
    </div>
{% endblock %}
